.title-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  .title-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .title-line-left,
    .title-line-right {
      width: 30px;
      height: 5px;
      display: none;
      background-color: var(--primary-color);
    }

    .title-div {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        text-align: center;
        font-size: 36px;
        color:  var(--black-color);
      }
    }
  }
}
